<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Roblox_Asset_Changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Roblox_Asset_Changer.Properties.Settings>
      <setting name="languageCode" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="robloxlocationFolder" serializeAs="String">
        <value>nul</value>
      </setting>
      <setting name="CurrentAccent" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="CurrentSecondaryAccent" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="CurrentTheme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>EDR1</value>
      </setting>
      <setting name="BuildNumber" serializeAs="String">
        <value>Developer Build 17</value>
      </setting>
    </Roblox_Asset_Changer.Properties.Settings>
  </userSettings>
</configuration>